<footer class="footer">
	<div class="footer_top">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="row">
						<div class="col-md-4 item">
							<h4>ABOUT FAPOR</h4>
							<p class="text">
								We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.
							</p>
						</div>
						<div class="col-md-4 item">
							<h4>Contact INFO</h4>
							<div class="text">
								<address>
									PO Box 17122 Nollins Street
									5034 Los Angelos
								</address>
								<div class="links">
									<a href="tel:1800555.0658" target="_blank">Phone: 1800555.0658</a><br>
									<a href="mailto:support@fapor.com" target="_blank">Email: support@fapor.com</a><br>
									<a href="fapor.com" target="_blank">Web: fapor.com</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 item">
							<h4>Subscribe to our newsletter</h4>
							<form action="#" class='form' id='footer_form'>
								<input type="email" placeholder='Enter your email address' class='area' name='form_email'>
								<input type="submit" value='SUBSCRIBLE NOW' class='btn_subscribe'>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="row">
						<div class="col-lg-6 copy_block">
							<p class="copy">&copy; 2016  Fapor by Respotheme</p>
						</div>
						<div class="col-lg-6 social_block">
							<ul class="list_social">
								<li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src='js/main.js'></script>
</body>
</html>