<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Test Light</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<link rel="stylesheet" href="css/style.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
    	<header class="header">
    		<div class="menu_top">
    			<div class="container">
    				<div class="row">
    					<div class="col-6 col-lg-7">
    						<a href="#" class="logo">
    							<img src="img/icon_logo.png" alt="logo">
    							<span class="name">
    								Fapor
    							</span>
    						</a>
    					</div>
    					<div class="col-6 header_burger">
    						<div class="menu_toggle">
    							<button class="menu">
    								<span class="menu__line menu__line--1"></span>
    								<span class="menu__line menu__line--2"></span>
    								<span class="menu__line menu__line--3"></span>
    							</button>
    						</div>				
    					</div>
    					<div class="col-lg-5 nav">
    						<nav>
    							<ul class="list_menu_top">
    								<li><a href="#" class="menu_link">Home</a></li>
    								<li class='active'><a href="#" class="menu_link">About</a></li>
    								<li><a href="#" class="menu_link">service</a></li>
    								<li><a href="#" class="menu_link">portfolio</a></li>
    								<li><a href="#" class="menu_link">contact</a></li>
    							</ul>
    						</nav>
    					</div>

    				</div>
    			</div>
    		</div>
    		<div class="more_about">
    			<div class="container">
    				<h1>More About US</h1>
    			</div>
    		</div>
    	</header>
